@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color_primario: #262626;
    --color_secundario: #b3b3b3;
    --color_terciario: #f6f6f6;
    --font_family_tit: 'Playfair Display', serif;
    --font_family_subtit_par: 'Roboto', sans-serif;
    --font_size_tit: 3.4rem;
    --font_size_par: 1.2rem;




}

html {
    font-size: 18px;
}

h2 {
    font-family: var(--font_family_tit);
    font-size: 3.4rem;
    color: var(--color_primario);
}

h3 {
    font-family: var(--font_family_subtit_par);
    font-size: 2rem;
    color: var(--color_primario);
    font-weight: 500;

}

p {
    font-family: var(--font_family_subtit_par);
    font-size: var(--font_size_par);
    color: var(--color_secundario);
    font-weight: 400;
    line-height: 2rem;
}

/* /////FOTOS////// */
.chica {
    /* width: 772px;
    height: 1056px; */

    min-width: 400px;
    max-width: 100%;

    max-height: 110vh;
    position: relative;
    /* height: auto; */
    vertical-align: bottom;
}

.mostrador {
    /* width: 680px;
    height: 770px;
    position: absolute; */
    min-width: 400px;
    max-width: 100%;
    /* position: absolute; */





}

.cafe {
    /* width: 810px;
    height: 660px;
    position: relative; */
    min-width: 200px;
    max-width: 100%;
    position: relative;
    margin-right: -125px;
    float: right;
   
}

* {
    margin: 0;
    padding: 0;
}



body {
    /* display: flex;
    justify-content: center */
}

/* ////////////////////////////////////////////////SECCION 2 */

.seccion2 {
    display: flex;
    justify-content: flex-start;
 
    /* background-color: bisque; */
}

.foto-slider {
display: flex;
    position: relative;
    text-decoration: none;
    height: auto;
       align-items: flex-end;

}

.invi {
    /* background-color: darkcyan; */
    width: auto;
    height: 100px;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 22px 65px;
    font-size: 40px;
    transition: all 0.3s;
    bottom: 0;
}

.prev:hover,
.next:hover {
    filter: drop-shadow(5px 0px 10px var(--color_primario));
    border-radius: 5%;
    opacity: .9;
}

.prev {
    background-color: var(--color_terciario);
    color: var(--color_secundario);

}

.next {
    right: -170px;
    background-color: var(--color_primario);
    color: var(--color_terciario);
}

.seccion2-texto {
    margin: 12% 0 0 5%;
    width: 800px;
    text-align: start;
}

.h2-s2 {
    max-width: 600px;
}

.p-s2 {
    margin-top: 4%;
    /* margin-top: 40px; */
    text-align: left;
    max-width: 715px;
    padding-right: 50px;
}



.fa-quote-left {
    margin-top: 8%;
    /* margin-top: 80px; */
    padding: .8rem;
    font-size: .8rem;
    text-align: center;
    border-radius: 50%;
    background-color: var(--color_primario);
    color: var(--color_terciario);
}

.p2-s2 {
    margin-top: 20px;
    font-style: oblique;
    font-size: 1.45rem;
    color: var(--color_primario);
    font-weight: 500;
    max-width: 650px;
}

/* SECCION 3 ///////////////////////////////////////////////////////////////////////////////////*/

.seccion3 {
    margin-top: 225px;
    display: flex;
    margin: 225px 110px 0 110px;
}


.contenedorCafe {
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 0;
}

.cafeTexto {
    max-width: 1026px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}

.cafeTextoP {
    margin-top: 30px;
    max-width: 700px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.4rem;
    font-style: italic;
    text-align: left;
}

.cafeTextoA {
    text-decoration: none;
    margin-top: 50px;
    font-family: var(--font_family_subtit_par);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color_primario);
}

.cafeFoto {
    margin-top: 65px;
}

/* COLUMNA DERECHA ////////////////////////////////////////////////////////////////////////////*/

.contenedorMostrador {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.mostradorTexto {
    margin-top: 100px;
    padding-right: 5%;
    margin-left: 210px;
    max-width: 310px;
    text-align: left;
}

.mostradorTextoH3 {
    font-size: 2.1rem;
}

.mostradorTextoP {
    margin-top: 40px;
    margin-bottom: 50px;
}

.mostradorTextoA {
    text-decoration: none;
    margin-top: 50px;
    font-family: var(--font_family_subtit_par);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color_primario);
}

