@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fontSize1: 2.9rem;
    --fontSize2: 2.3rem;
    --fontSize3: 2rem;
    --fontSize4: 1.5rem;
    --fontSize5: 1.2rem;

    --fontFamily1: 'Playfair Display', serif;
    --fontFamily2: 'Roboto Flex', sans-serif;

    --color1: #262626;
    --color2: #b3b3b3;
    --color3: #f6f6f6;

}



/* BOTONES SLIDER ESTILO ///////////////////////*/

.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;

    width: 127px;
    height: 66px;

    cursor: pointer;

    font-size: 2rem;
    text-decoration: none;
    background-color: var(--color3);

    color: var(--color2);
}

.prev:hover,
.next:hover {
    background-color: var(--color1);

    color: var(--color3);
}

/* ///////////////////////////////////////////// */



/* //////////////////////////////////////////////// FOTOS */



body {

    display: flex;
    justify-content: center;


}

/* .section1400 {
    width: 1025px;

} */

/* HEADER ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

header {
    display: flex;
    justify-content: center;

    width: 100%;
}

.contenedorHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 2000px;
    padding: 27px 65px 10px 125px;
}

.contenedorLogo {
    display: flex;
}

.parsoLogo {
    width: 35px;
    height: 35px;
    padding: 8px 21px 0 0;
}

.logoH3 {

    font-family: var(--fontFamily2);
    font-size: 2.3rem;
    font-weight: 500;
}

nav {
    display: flex;
}

.headerNavA {
    display: inline-block;
    position: relative;

    padding: 5px 60px 0 0;

    color: var(--color1);
    font-family: var(--fontFamily2);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.headerNavA::after {
    content: '';

    position: absolute;
    bottom: -10px;
    left: 2px;

    transform: scaleX(0);
    transform-origin: bottom right;

    transition: transform 0.25s ease-out;

    background-color: var(--color1);

    width: 11px;
    height: 2px;
}

.headerNavA:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* SECCIÓN 1 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.seccion1 {
    display: flex;
    justify-content: center;
    /* background-color: #4267B2; */
    margin: 105px 0 0 0;
    width: 100%;
    max-width: 1400px;
}

.contenedorMuelle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.muelleTexto {
    display: flex;

    width: 85.5%;
    padding: 0px 0 0 0;

}

h1 {
    max-width: 600px;

    font-size: 5.2rem;
    line-height: 6.3rem;
    font-family: var(--fontFamily1);
    font-weight: 900;
    letter-spacing: 0.2rem;
    color: var(--color1);
}

.muelleTexto2 {
    display: flex;
    flex-direction: column;
    align-content: center;

    margin: 33px 0 20px 68px;
    padding: 0px 0 10px 48px;

    border-left: solid 1px #707070;
}

.muelleTextoH3 {
    font-size: 1.75rem;
    font-family: var(--fontFamily2);
    font-weight: 600;
    color: var(--color1);
}

.muelleTextoP {
    max-width: 675px;
    margin: 10px 0 0 0;
    padding: 0 55px 0 0;

    font-size: 1.2rem;
    line-height: 1.9rem;
    font-family: var(--fontFamily2);
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.008rem;
    color: #707070;
}


.muelleFoto {
    position: relative;
    display: flex;
    justify-content: flex-end;

    margin: 65px 0 0 0;
}

.muelle {
    max-width: 86%;
    min-width: 1025px;
}

.prevMuelle {
    position: absolute;
    right: 127px;
    bottom: 0;
}

.nextMuelle {
    position: absolute;
    right: 0;
    bottom: 0;
}



/* SECCIÓN 2 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.seccion2 {
    display: flex;
    justify-content: center;
    /* background-color: #DB4437; */

    margin: 180px 0 0 0;
    width: 100%;
}

.contenedorSeccion2 {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    max-width: 1400px;
}

.chicaFoto {
    position: relative;

    display: flex;
    align-items: flex-end;

    text-decoration: none;
}

.chica {
    position: relative;
    vertical-align: bottom;

    min-width: 400px;
    max-width: 573px;
    max-height: 781px;

}

.prevChica {
    position: absolute;
    right: 0;
    bottom: 0;
}

.nextChica {
    position: absolute;
    right: -127px;
    bottom: 0;
}

.chicaTexto {
    margin: 182px 0 0 63px;
    max-width: 535px;
    padding: 0 40px 0 0;

    text-align: start;
}

.chicaTextoH2 {
    font-size: var(--fontSize1);
    line-height: 3.75rem;
    font-family: var(--fontFamily1);
    color: var(--color1);
}

.chicaTextoP {
    margin: 30px 0 0 0;
    max-width: 900px;

    font-size: 1.1rem;
    line-height: 1.75rem;
    font-family: var(--fontFamily2);
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.03rem;
    color: var(--color2);
}



.comillas {
    margin: 50px 0 0 0;
    padding: .6rem;

    border-radius: 50%;

    background-color: var(--color1);

    font-size: .7rem;
    text-align: center;
    color: var(--color3);
}

.cafeTextoH2 {
    font-size: var(--fontSize1);
    line-height: 3.75rem;
    font-family: var(--fontFamily1);
    color: var(--color1);
}


.chicaTextoP2 {
    margin: 16px 0 0 0;
    max-width: 700px;

    font-size: 1.2rem;
    line-height: 1.75rem;
    font-family: var(--fontFamily2);
    font-weight: 500;
    font-style: italic;
    color: var(--color1);
}

.chicaTextoInv {
    height: 100px;
}

/* SECCIÓN 3 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.seccion3 {
    margin: 180px 0 0 0;
    width: 100%;
}

.seec {
    display: flex;
    justify-content: center;
    margin: 0 63px;

}

/* COLUMNA IZQUIERDA */

.contenedorCafe {
    display: flex;
    flex-direction: column;

    padding: 8px 0 0 0;
}

.cafeTexto {
    display: flex;
    flex-direction: column;

    margin: 0 90px 0 0;
    max-width: 500px;

    text-align: left;
}

.cafeTextoH2 {
    font-size: var(--fontSize1);
    font-family: var(--fontFamily1);
}


.cafeTextoP {
    margin: 25px 0 0 0;
    max-width: 700px;

    font-size: 1.2rem;
    line-height: 1.9rem;
    font-family: var(--fontFamily2);
    font-weight: 500;
    font-style: italic;
    color: var(--color2);
}

.cafeTextoA {
    position: relative;

    display: inline-block;

    margin: 40px 0 0 0;

    font-size: 1.1rem;
    font-family: var(--fontFamily2);
    font-weight: 500;
    text-decoration: none;
    color: var(--color1);
}

.cafeTextoA::after {
    content: '';

    position: absolute;
    bottom: -10px;
    left: 0px;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

    width: 60px;
    height: 2px;

    background-color: var(--color1);
}

.cafeTextoA:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cafeFoto {
    margin: 48px 0 0 0;
}

.cafe {
    position: relative;

    width: 100%;
    margin: 0 0px 0 0;
    /* min-width: 400px; */
    max-width: 605px;
}


/* COLUMNA DERECHA */

.contenedorMostrador {
    display: flex;
    flex-direction: column;

    margin: 22px 0 0 0;
}

.mostradorFoto {
    position: relative;

    width: 448px;
    height: 570px;
}

.mostrador {
    position: absolute;
    left: -58px;

    /* min-width: 400px; */
    max-width: 505px;
    z-index: -1;
}

.mostradorTexto {
    max-width: 335px;
    padding: 70px 70px 0 103px;

    text-align: left;
}

.mostradorTextoH3 {
    font-size: 1.75rem;
    font-family: var(--fontFamily2);
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--color1);
}

.mostradorTextoP {
    margin: 25px 0 0 0;

    font-size: var(--fontSize5);
    line-height: 2.1rem;
    font-family: var(--fontFamily2);
    font-weight: 500;
    letter-spacing: -0.03rem;
    color: var(--color2);
}

.mostradorTextoA {
    position: relative;

    display: inline-block;

    margin: 40px 0 0 0;

    font-size: var(--fontSize5);
    font-family: var(--fontFamily2);
    font-weight: 500;
    text-decoration: none;
    color: var(--color1);
}

.mostradorTextoA::after {
    content: '';

    position: absolute;
    bottom: -10px;
    left: 0px;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

    width: 42px;
    height: 2px;

    background-color: var(--color1);
}

.mostradorTextoA:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* SECCIÓN 4 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.seccion4 {
    margin: 115px 0 0 0;
    display: flex;
    justify-content: center;

    width: 100%;
}

.contenedorSeccion4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 545px;

    background-color: #fafbff;
}

.contenedorEnrique {
    position: relative;
    display: flex;

    /* width: 369px;
    height: 161px; */
}

.enriqueFondo {
    width: 140px;
    height: 140px;

    background-color: var(--color1);
}

.enrique {
    position: absolute;
    top: 21px;
    left: 18px;

    width: 140px;

}

.enriqueIconos {
    display: flex;
    align-items: center;
    align-content: center;

    margin: 18px 0 0 0;
}

.fa-facebook {
    margin: 0px 12px 0 0;

    font-size: 1.5rem;
    color: #4267B2;
}

.fa-google-plus {
    margin: 0px 12px 0 0;

    font-size: 1.5rem;
    color: #DB4437;
}

.twEnrique {
    margin: 0px 12px 0 0;
    border-radius: 50%;
    padding: .4rem;

    background-color: #1d9bf0;

    font-size: .7rem;
    color: white;
}

.enriqueRedes {
    display: flex;
    flex-direction: column;

    margin: 36px 0 0 48px;

}

.enriqueRedesH3 {
    font-size: 1.7rem;
    font-family: var(--fontFamily2);
    font-weight: 600;

    color: var(--color1);


}

.enriqueRedesP {
    margin: 3px 0 0 0;

    font-size: 1.1rem;
    line-height: 2rem;
    font-family: var(--fontFamily2);
    font-weight: 400;
    letter-spacing: -0.03rem;
    color: var(--color2);
}

.enriqueTexto {
    margin: 50px 0 0 0;
    padding: 0 5%;
    max-width: 1050px;

    font-size: 1.25rem;
    line-height: 1.9rem;
    font-family: var(--fontFamily2);
    font-weight: 500;
    text-align: center;
    font-style: italic;
    color: var(--color2);
}

/* SECCIÓN 5 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.seccion5 {
  

    margin: 110px 0 0 0;
    width: 100;
}

.contenedorVarios {
    display: flex;
    justify-content: space-around;
    margin: 0 63px;
}
.variosSlider{
    margin: 0 50px 0 0;
}
.variosArt {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.variosArt1 {
    display: flex;

}

.variosArt2 {
    display: flex;
   
    padding: 27px 0 0 0;

}

.montanas {
    width: 138px;
    padding: 10px 37px 0 0;
}

.variosSlider {
    position: relative;
    /* margin: 0 120px 0 0; */
  
}

.variosSliderH2 {
    max-width: 465px;

    font-size: 2.25rem;
    font-family: var(--fontFamily1);
    color: var(--color1);
}

.variosSliderP {
    margin: 15px 0 0 0;
    max-width: 430px;

    font-size: 1.1rem;
    line-height: 1.8rem;
    font-family: var(--fontFamily2);
    font-weight: 400;
    letter-spacing: -0.03rem;
    color: var(--color2);
}

.btn5{
    display: flex;
    
    margin: 140px 0 0 0;
}

.variosArtTextos{
    min-width: 300px;
    max-width: 400px;
}
.variosArtH3 {
    position: relative;

    max-width: 510px;

    font-size: 1.8rem;
    font-family: var(--fontFamily1);
    color: var(--color1);
}

.variosArtP {
    margin: 20px 0 50px 0;

    font-size: 1.1rem;
    line-height: 1.8rem;
    font-family: var(--fontFamily2);
    font-weight: 400;
    letter-spacing: -0.03rem;
    color: var(--color2);
}

/* FOOTER ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


footer {
    display: flex;
    justify-content: center;

    margin: 170px 0 0 0;
    width: 90%;
    min-width: 1025px;
}

.fooot {
    display: flex;
    align-content: flex-end;

    width: 88%;
}

.nada {
    width: 12%;
    max-width: 400px;

}

.footerFondo {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1600px;
    height: 106px;
    padding: 75px 60px 75px 170px;

    background-color: var(--color1);
}

.contenedorLogoF {
    display: flex;
}

.parsoLogoF {
    width: 35px;
    height: 35px;
    padding: 8px 21px 0 0;

    filter: invert(1);
}

.logoFH3 {
    margin: 0 50px 0 0;

    font-family: var(--fontFamily2);
    font-size: 2.3rem;
    font-weight: 400;
    color: var(--color3);
}

.footerA,
.footerB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    min-width: 123px;
}

.footerAn {
    font-size: .9rem;
    font-family: var(--fontFamily2);
    font-weight: 500;
    text-decoration: none;
    color: #909090;
}

.footerSuscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 0 0 40px;

    font-size: .9rem;
    font-family: var(--fontFamily2);
    font-weight: 500;
    color: #909090;
}


.twFooter,
.fa-facebook-f {
    margin: 0 25px 0 0;
    padding: 0 0 0 5px;

    font-size: .9rem;
    line-height: rem;
    color: var(--color3);
}

input {
    all: unset;
}

.formLabel {
    padding: 0 0 0 5px;
}

.mail {
    margin: 15px 10px 0 0;
    width: 200px;
    height: 40px;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;

    background-color: #343434;

    font-family: var(--font_family2);
    font-weight: 500;
    color: var(--color2);
}

.btnSend {
    border: none;
    margin: 5px 0;
    width: 75px;
    height: 40px;

    background-color: #343434;

    font-family: var(--font_family2);
    text-align: center;
    color: var(--color3);
}

.formS {
    position: relative;
}



@media (min-width:320px) and (max-width:480px) {
    body {
        background-color: blueviolet;
    }
}


@media (min-width:481px) and (max-width:1024px) {
    body {
        background-color: #ca0eb8;
    }
}


